<div class="col-sm-8 blog-main">

  <%=  paginate @blogs %>
  <%= render @blogs %> 
  <%=  paginate @blogs %>

</div><!-- /.blog-main -->





<!-- blogs ma present cha _blog.html.erb
     @blogs name cha instance variable ko
     so, @blogs ko instance variable lai we can use _blog.html.erb ko file, we are not trapped -->

