<h1>Portfolio Items</h1>
<%= link_to "Create a new Portfolio", new_portfolio_path %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %> 



<%#the delete doesnt lookup for the any relations if there exists any, rather it just goes up.
#the destroy looks up for relation and stops from the deletion, and doesnt allow the user to delete.%>

<!--render @portfolio_items , doesnt work because it directory portfolios is looking for _portfolio but we are providing with _portfolio_item, but 

portfolios looks for _portfolio

_portfolio ko place ma we have _portfolio_item

we cannot change _portfolio_item to _portfolio because of the instance variable out there with the name of _portfolio_items, we are in a trap.

( error : portfolios/_portfolio not found. ) -->

<!-- render partial: 'portfolio_item', collection: @portfolio_items, after this line it straight goes for the search of _portfolio_item 