<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>/ 
      <%= link_to 'View All The Portfolio Items', portfolios_path %>
    <p>
      <%= owner %> <br>
      <%= developer %>
  </div>
</footer>