<h1>About Me</h1>
<p>Sometimes I call myself a spoken word poet, other times I just read,recite, 
perform, watch, listen, compile, edit, promote, suggest,recommend and breathe 
poems in Nepali, English.I am also an educator and help manage arts and 
education projects. I am involved with Word Warriors, 
Nepal's first spoken word poetry group. </p>
