<div class = "app-card-container">
  <div class = "card">

    <h1>About Me</h1>

    <hr>

    <div class = "row">
      <div class = "col-md-4">
        <%= image_tag"profile_img.jpg", width: 300, alt: "Proflie Image", class: 'profile-img' %> <!--this is a view helper -->
      </div>

      <div class = "col-md-8">
        <p>Sometimes I call myself a spoken word poet, other times I just read,recite, 
        perform, watch, listen, compile, edit, promote, suggest,recommend and breathe 
        poems in Nepali, English.I am also an educator and help manage arts and 
        education projects. I am involved with Word Warriors, 
        Nepal's first spoken word poetry group.</p>
        
        <p>Sometimes I call myself a spoken word poet, other times I just read,recite, 
        perform, watch, listen, compile, edit, promote, suggest,recommend and breathe 
        poems in Nepali, English.I am also an educator and help manage arts and 
        education projects. I am involved with Word Warriors, 
        Nepal's first spoken word poetry group.</p>
       

        <p> 
          <button
            class = "btn btn-primary"
            type = "button"
            data-toggle = "collapse"
            data-target = "#jobHistory"
            aria-expanded = "false" 
            aria-controller = "jobHistory"
          >

            Job History
          </button>
          

        <button
          class = "btn btn-primary"
          type = "button"
          data-toggle = "collapse"
          data-target = "#education"
          aria-expanded = "false" 
          aria-controller = "education"
        >

          Education
        </button>
      </p>

      <p>
        <div class = "collapse" id = "jobHistory">
          <div class = "card card-block">
            Jobs1
          </div>
          <div class = "card card-block">
            Jobs2
          </div>
          <div class = "card card-block">
            Jobs3
          </div>
        </div>
      </p> 

      <p>
        <div class = "collapse" id = "education">
          <div class = "card card-block">
            School 1
          </div>
          <div class = "card card-block">
            School 2
          </div>
          <div class = "card card-block">
            School 3
          </div>
        </div>
      </p> 


































      </div>
    </div>
  </div>
</div>

