<div class = "app-card-container">
  <div class = "card">

    <h1>Should We Work Together?</h1>

    <hr>

    <div class = "row">
      <div class = "col-md-7">
        <h3>Office Address</h3>

        <p>Battisputali, Kathmandu</p>

        <h3>Phone</h3>

        <p><%= number_to_phone "9843231001" %></p>

        <h3>Email</h3>  

        <p><a href = "mailto:thesujal17@gmail.com?subject=PortfolioContact", class = "Email-Portfolio">Email Me</a></p>
      </div>

    <!--these are some of the helper methods, it came from the library of action view --> 

    <div class = "col-md-5 raju21">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d742.6338215872051!2d85.3461978753104!3d27.699320675451208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb199d17032265%3A0xc7e605b267b03e75!2sBattisputali%2C+Kathmandu+44600!5e0!3m2!1sen!2snp!4v1525793740351" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>