<h1>Pages#contact</h1>
<p><%= number_to_phone "9843231001" %></p>
<p><%= number_to_currency "150" %></p>
<p><%= number_with_delimiter "150200300200300" %></p>

<!--these are some of the helper methods -->
