<div class="inner cover">
  <h1 class="cover-heading">Idling idols </h1>
  <p class="lead">Idling idols is a poetry blog, but you might also come across other goodies 
                  like cave paintings, my politically charged agendas, pictures of insects and 
                  (hopefully) some video links. .</p>
  <p class="lead">
    <%= link_to "Start Reading", blogs_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


    


